<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName}
			- [%15.5tid] %c:%X{token} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true"> 
			<PatternLayout pattern="${LOG_PATTERN}" /> </Console>

<!-- 		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<JsonLayout complete="false" compact="true"
				eventEol="true">
				<KeyValuePair key="@correlation-id"
					value="${ctx:correlation-id}" />
				<KeyValuePair key="@host_url" value="${ctx:host_url}" />
				<KeyValuePair key="@timestamp"
					value="${date:yyyy-MM-dd HH:mm:ss.SSS}" />
				<KeyValuePair key="@appId" value="${ctx:appId}" />
				<KeyValuePair key="@appKey" value="${ctx:appKey}" />
			</JsonLayout>
		</Console> -->


		<RollingFile name="FileAppender"
			fileName="logs/paxDetails/paxTraveller.log"
			filePattern="logs/paxCount/$${date:yyyy-MM}/paxTraveller-%d{yyyy-MM-dd--HH}-%i.log.gz">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Logger name="com.ual.iom.pax" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>